<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Mon premier playbook</title>
  </head>
  <body>
    Hostname : {{ ansible_hostname }}<br>
    Système : {{ ansible_lsb.description }}<br>
  </body>
</html>
